.wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.contact-div {
    border-style: hidden;
    padding: 120px;
    padding-top: 100px;
    width: 50%;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: large;
    font-weight: bold;
    color: black;
}

.img-dec {
    width: 50%;
}

.linkedin {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

@media (max-width: 1200px) {
    .wrapper {
      flex-direction: column;
    }

    .contact-div {
        border-style: hidden;
        padding: 120px;
        padding-top: 100px;
        width: 100%;
    }

    .img-dec {
        width: 100%;
    }
  }