/*Contact css*/

.wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.contact-div {
    border-style: hidden;
    padding: 120px;
    padding-top: 100px;
    width: 50%;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: large;
    font-weight: bold;
    color: black;
}

.img-dec {
    width: 50%;
}

.linkedin {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

@media (max-width: 1200px) {
    .wrapper {
      flex-direction: column;
    }

    .contact-div {
        border-style: hidden;
        padding: 120px;
        padding-top: 100px;
        width: 100%;
    }

    .img-dec {
        width: 100%;
    }
  }

  /*end of contact css*/

  /*about css*/

.about-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 25px; 
    margin: 50px;
}

.about-me {
    border-style: hidden;
    border-radius: 20px 0px 0px 20px;
    padding: 80px;
    padding-top: 50px;
    width: 50%;
    background-color: #E7E7E7;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.img-container {
    border-style: hidden;
    border-radius: 0px 20px 20px 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E7E7;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.img-me {
    padding: 40px;
    width: 60%;
}